
# Data processing configuration
version: '1.0'

# Global settings
global:
  reference_gdb: "a_Reference.gdb"
  veg_own_gdb: "a_Reference.gdb"
  veg_own_layer_name: "Own_Veg_Region_WUI"
  california_boundry_layer_name: "California"
  date: "20250603"                     # may used as a part of the output layer name; use today if not setup
  date_format: "%Y%m%d"
  start_year: 1950
  end_year: 2025
  overwrite: false                     # indicate whether overwrite the existing output layer

# Data sources configuration
sources:
  blm:
    type: "geodatabase"
    input:
      gdb_path: "b_Originals/BLM_2010_2023_fromReisThomasViaUpload.gdb"
      layer_name: "BLM_2010_2023_fromReisThomasViaUpload"
    output:
      gdb_path: "/tmp/BLM_{start_year}_{end_year}.gdb"
      layer_name: "BLM_enriched_{date}"                    # output a polygon layer

  ifprs:
    type: "geodatabase"
    input:
      gdb_path: "Interagency-Tracking-System/V2.0/IFPRS_V2.0/IFPRS_20250328.gdb"
      layer_name: "ifprs_actual_treatment"
    output:
      gdb_path: "/tmp/IFPRS_{start_year}_{end_year}.gdb"
      layer_name: "IFPRS_enriched_{date}"                    # output a polygon layer

  nfpors:
    type: "geodatabase"
    input:
      gdb_path: "Interagency-Tracking-System/V2.0/NFPORS_V2.0/NFPORS_V2.0.gdb"
      polygon_layer: " nfpors_ftp"
      bia_layer: " nfpors_bia_fws"
      fws_layer: "nfpors_bia_fws"
    output:
      gdb_path: "/tmp/NFPORS_{start_year}_{end_year}.gdb"
      layer_name: "NFPORS_enriched_{date}"                  # output two layers: {layer_name}_point and {layer_name}_polygon

  nps:
    type: "geodatabase"
    input:
      gdb_path: "Interagency-Tracking-System/V2.0/NPS_V2.0/NPS_V2.0/NPS_V2_0_20250331.shp"
      layer_name: "NPS_2023_20240625_ReisThomasViaUpload2"
    output:
      gdb_path: "/tmp/NPS_{start_year}_{end_year}.gdb"
      layer_name: "NPS_enriched_{date}"                     # output a polygon layer  

  timber_industry_spatial:
    type: "geodatabase"
    input:
      gdb_path: "b_Originals/FFSC_MOU_2023_20240627_RebeccaFerkovichViaEmail.gdb"
      layer_name: "FFSC_MOU_IndustryOnly_Pol"
    output:
      gdb_path: "/tmp/Timber_Industry_Spatial_{start_year}_{end_year}.gdb"
      layer_name: "Timber_Industry_Spatial_{date}"          # output a polygon layer  

  timber_industry_nonspatial:
    type: "excel"
    input:
      excel_path: "Interagency-Tracking-System/V2.0/Industry_nonspatial_V2.0/Timber_Industry_Acres_concat.xlsx"
    output:
      gdb_path: "/tmp/Timber_Industry_Nonspatial_{start_year}_{end_year}.gdb"
      layer_name: "Timber_Industry_Nonspatial_{date}"       # output a point layer  

  usfs:
    type: "geodatabase"
    input:
      base_path: "b_Originals/USFS_FACTS_2023_20240620_uploadEmilyBrodie"
      regions: ["04", "05", "06"]
      gdb_template: "Actv_CommonAttribute_PL_Region{region}.gdb"
      layer_name: "Actv_CommonAttribute_PL"
    output:
      gdb_path: "/tmp/USFS_{start_year}_{end_year}.gdb"
      layer_name: "USFS_Region{region}_enriched_{date}"    # output a polygon layer  

  caltrans:
    type: "geodatabase"
    input:
      gdb_path: "b_Originals/Caltrans_Vegetation_Management_20_23.gdb"
      road_activity_layer_name: "Caltrans_Vegetation_Management_RoadsideLandscape_ActivitiesTable_20_23"
      road_treatment_layer_name: "Caltrans_Vegetation_Management_RoadsideLandscape_Treatments_20_23"
    output:
      gdb_path: "/tmp/CalTRANS_{start_year}_{end_year}.gdb"
      layer_name: "CalTRANS_enriched_{date}"               # output a line layer  

  cnra:
    type: "geodatabase"
    input:
      gdb_path: "b_Originals/CNRA_Tracker_Data_UpdatedCM_20240827.gdb"
      polygon_layer_name: "TREATMENT_POLY_20240827"
      line_layer_name: "TREATMENT_LINE_20240827"
      point_layer_name: "TREATMENT_POINT_20240827"
      project_layer_name: "PROJECT_POLY_20240827"
      activity_layer_name: "ACTIVITIES_20240827"
    output:
      gdb_path: "/tmp/CNRA_{start_year}_{end_year}.gdb"
      layer_name: "CNRA_enriched_{date}"                   # output three layers: {layer_name}_point, {layer_name}_line, and {layer_name}_polygon

  pfirs:
    type: "geodatabase"
    input:
      gdb_path: "Interagency-Tracking-System/V2.0/PFIRS_V2.0/PFIRS2024_combined.gdb"
      layer_name: "PFIRS2024"
      excel_path: "Interagency-Tracking-System/2023/PFIRS_2023/pfirs_agency_2022_2023_AT.xlsx" # data dictionary
    output:
      gdb_path: "/tmp/PFIRS_{start_year}_{end_year}.gdb"
      layer_name: "PFIRS_enriched_{date}"                  # output a polygon layer      

appended:
  type: "geodatabase"
  input_path: "tmp" #file path to the folder containing all enriched agency data
  gdb_path: "output/appended.gdb" #file path to output geodatabase file type
  point_layer_name: "appended_point"
  line_layer_name: "appended_line"
  polygon_layer_name: "appended_poly"

activity:
  type: "geodatabase"
  gdb_path: "output/activity.gdb" #file path to output geodatabase file type
  report_layer_name: "Activity_Report_{date}"
  point_layer_name: "Activity_Point_{date}"
  start_year: 2021
  end_year: 2024

footprint:
  type: "geodatabase"
  gdb_path: "output/footprint.gdb" #file path to output geodatabase file type
  report_layer_name: "Footprint_Report_{date}"
  point_layer_name: "Footprint_Point_{date}"
  start_year: 2021
  end_year: 2024



# Processing steps configuration
processing_steps:
  - name: "enrich"
    enabled: true
  - name: "append"
    enabled: false
  - name: "transform"
    enabled: false
  - name: "report"
    enabled: false